.container {
  margin-left: 6px;
  border: 2px solid rgb(209 213 219);
  border-radius: 4px;
  position: relative;
  height: 50px;
}
.container:first-of-type {
  margin-left: 0;
}

.label {
  font-size: 10px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  height: 16px;
  border-bottom: 2px solid rgb(209 213 219);
  border-radius: 4px 4px 0 0;
}
.textInput {
  font-size: 14px;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 16px);
  text-align: center;
  background-color: white;
  border-radius: 0 0 4px 4px;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.textInput:focus {
  outline: none;
}
.textInput::-webkit-inner-spin-button,
.textInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
